<div class="span4">
    <div class="well">
        <div class="btn-group btn-group-vertical pull-right">
            <a href="{% url disciplinas:update disciplina.id %}" alt="Editar"   class="btn"><i  class="icon-edit"></i> Editar</a>
            <a href="{% url disciplinas:delete disciplina.id %}" alt="Excluir"  class="btn"><i  class="icon-trash"></i> Excluir</a>
        </div>
        <h4>{{disciplina.nome}}</h4>
        <p>{{disciplina.label}}</p>
        <div >
            {%if disciplina.professor_set.all%}
            
                <br>
                <table  class='table table-bordered table-striped'>
                    <caption></caption>
                    <thead>
                            <tr>
                                <th>Professores</th>
                            </tr>
                    </thead>
                    <tbody>
                  
                    {%for professor in disciplina.professor_set.all%}
                        <tr>
                            <td>
                                {{professor.nome}}
                            </td>
                        </tr>
                    {%endfor%}
                    </tbody>
                </table>
                
            {%else%}
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p>Nenhum professor para essa disciplina!<p>
            </div>

            {%endif%}

        </div>

    </div>
</div>
