{% extends "base.html" %}
{%block content%}
    <!-- main -->
    <div class="well">
        <h1>Disciplina</h1>
    </div>
    <p><hr></p>
    <div class="row ">
    <!-- Listar Objetos -->
    <!-- Objeto -->
    <!-- Inicio de uma linha -->
        <div class="span12">
            <div class="well">
                <p>Disciplina: {{aula.disciplina}}</p>
                <p>Professor: {{aula.professor}}</p>
                <p>Quantidade: {{aula.quantidade}}</p>
                <form action="/aulas/delete/{{ aula.id }}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Sim">
                    <a href="{%url grades:get aula.turma.grade.id %}" class="btn">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    
                
    <!-- fim main classes -->
{%endblock content%}
