{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block content %}
	<!-- main -->
	<div class="well">
	    <h1>Editar Senha</h1>
    </div>
    <p><hr></p>
    <div class="row">
    <!-- Listar Objetos -->
        <!-- Objeto -->
        <!-- Inicio de uma linha -->
        <div class="span6">
            <div class="well">
    			<form action="{% url accounts:change_password %}" method="POST">
    				{% csrf_token %}
    				{{ form|as_bootstrap }}
                    <p class="form-actions">
            				<input type="submit" value="Salvar" class="btn">
                            <a class="btn"  href = "{%url accounts:my_account %}">Cancelar</a>
                    </p>
    			</form>
            </div>
        </div>
    </div>
	
	<!-- fim main classes -->
{% endblock %}
