{% extends "base.html"%}
{% load bootstrap_toolkit %}


{%block content%}
	<section>
		<header class="major">
			<h2>Cadastro de Usuario</h2>
		</header>
		<div>

		    <!-- Inicio de uma linha -->
		    <div class="row">
		    
			    <!-- Objeto -->
			    <div class="12u"; >
				    <section class="box">
					    <header>
					    
					    </header>
					    <form action="{% url accounts:register %}" method="post">
                            {% csrf_token %}
                            {{ form|as_bootstrap }}
					    	<br>
					    	<input type="submit" value="Cadastrar"  class="btn"/>
					    </form>
				    </section>
			    </div>
		    </div>
		    <!-- Fim de uma linha -->
			
		</div>
	</section>
{%endblock content%}
